<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0 ,user-scalable=no">

    <!-- Title -->
    <title>@ViewBag.Title</title>

    <!-- Icon -->
    <link rel="Icon" href="~/Content/img/favicon/favicon.ico">

    <!-- Open Sans Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Content/css/bootstrap/bootstrap.min.css">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Content/css/font-awesome/css/font-awesome.min.css">

    <!-- Custome CSS -->
    <link rel="stylesheet" href="~/Content/css/style.css">

    <!-- Responsive CSS -->
    <link rel="stylesheet" href="~/Content/css/responsive.css">

</head>
<body class="fullsize">
    @RenderBody()


    <!-- SignUp Page End -->
    <!-- JQuery -->
    <script src="~/Content/js/jquery.js"></script>

    <!-- Bootstrap JS -->
    <script src="~/Content/js/bootstrap/bootstrap.min.js"></script>

    <!-- Custom JS -->
    <script src="~/Content/js/script.js"></script>

    @Scripts.Render("~/bundles/jqueryval")
</body>
</html>
